html, body {
    overflow: hidden;
    background-color: black;
    margin: 0px;
}

.fullscreen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .fullscreen canvas {
    display: block;
    background-color: #198bb8;
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
  }